<!DOCTYPE html>
<html>
<head>
  <title>YelpClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta  charset="UTF-8">

</head>
<body>

<div class=templateholder>
  <div class=Layout6_header> </div>
  <div class=Layout6_1 ></div>
  <div class=Layout6_2 ></div>
  <div class=Layout6_3 ></div>
  <div class=Layout6_4 ></div>
  <div class=Layout6_5 ></div>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Sign in', new_user_session_path %>
  <%= link_to 'Sign up', new_user_registration_path %>
<% end %>


<%= yield %>

</body>
</html>
